.clubs-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; /* Adjust as needed */
  }
  
  .clubs-table td {
    padding: 10px;
    text-align: center; /* Aligns content to the left */
  }
  
  .view-club-button {
    margin-left: 20px; /* Adds space between the club link and the button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Removes underline from Link component */
    display: inline-block; /* Aligns the link as a block element */
  }
  
  .view-club-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  