body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  overflow: hidden;
  background-color: #660066;
  color: white;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

a.left {
  float: left;
}

a.right {
  float: right;
}

a:hover {
  background-color: #993399;
}

.lucide {
  margin-right: 10px;
}