body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  overflow: hidden;
  background-color: purple;
  font-weight: bold;
  color: white;
  height: 60px;
}

.nav-items {
  width: 100%;
  display: inline-flex;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.navbar-brand {
  color: white !important;
  font-size: 40px;
  float: right;
}

.nav-link:hover {
  background-color: #993399;
  color: white;
}

.lucide {
  margin-right: 10px;
}

#nav-title {
  margin-left: 20px;
}

.justify-content-end {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
  margin-right: 20px;
  float: right;
}
