body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  overflow: hidden;
  background-color: purple;
  font-weight: bold;
  color: white;
  height: 60px;
}

.login-background {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width:100%;
  height:100%;
  filter: blur(10px);
}

.login-section {
  margin: auto;
  position:absolute;
  text-align: center;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding-top:10%;
  background-color: white;
  opacity: 80%;
  width:35%;
  color:purple;
  border:5px, solid, purple;
}

.login-header {
  font-weight: 700;
  font-size: 60px;
}

.login-input-fields {
  display:block;
}

.login-header {
  margin-bottom:70px;
}

.password-login-section, .email-login-section {
  margin-top:20px;
}

.login-submit-btn {
  margin-top: 30px;
}

.forgot-pswd {
  color:#993399;
}

.login-submit-btn {
  border:none;
  border-radius: 5px;
  width:100px;
  color:white;
  background-color:purple;
  margin-bottom:5px;
}

.login-submit-btn:hover {
  background-color:#993399;
}

.login-go-back-btn {
  position:absolute;
  left:0;
  top:0;
  margin-left:10px !important;
  margin-top:10px !important;
  border:none !important;
  background-color: purple !important;
  width:100px;
}

.login-go-back-btn:hover {
  background-color:#993399 !important;
}

.sign-up-link {
  display:block;
  margin-top: 15px;
  color: #993399;
}

.nav-items {
  width: 100%;
  display: inline-flex;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.navbar-brand {
  color: white !important;
  font-size: 40px;
  float: right;
}

.nav-link:hover {
  background-color: #993399;
  color: white;
}

.lucide {
  margin-right: 10px;
}

#nav-title {
  margin-left: 20px;
}

.justify-content-end {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
  margin-right: 20px;
  float: right;
}

.main-page {
  background-color: #993399;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
}

.main-menu-image-container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.main-page-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 450%;

  .header-text-1 {
    color:white;
    font-weight:lighter;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; 
  }

  .header-text-2 {
    color:#993399;
    font-weight:bolder;
    text-shadow: 0 0 20px white;
  }
}

.main-menu-image {
  width:95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 70%;
  border-radius: 50%;
  filter: grayscale(30%);
  filter: blur(6px);
}

.main-menu-lower {
  margin: 40px;
  color: white;
  font-size: 30px;
  text-align: center;
}