.club-detail-container {
    position: relative; /* Needed for absolute positioning of children */
  }
  
  .join-button-container {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 30px; /* Adjust as needed */
  }
  
  .join-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 75px
  }
  
  .join-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Make sure it's above other elements */
  }
    
  .leave-button {
    width: 200px;
    padding: 15px 20px;
    margin: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #dc3545;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    margin-left: 15px;
  }
  
  .announcement-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }

  .announcement-container {
    flex: 1;
    position: relative;
    padding-left: 10px;
  }

  .first-row {
    display: flex;
    padding: 10px 20px;
  }

  .members {
    width: 50%;
  }

  .club-desc {
    padding-left: 20px;
  }

  .club-heading {
    padding-left: 20px;
  }