/* CSS for MyClubs and AllClubs pages component */

.my-clubs-container {
  text-align: center;
}

.club-filters {
  display: flex;
  justify-content: center;
}

.club-list-tags-dropdown {
  margin-top: 1.3%;
}

.club-heading {
  font-size: 36px;
  font-weight: 600;
  color: #333;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.search-input {
  font-size: 18px;
  padding: 10px;
  margin: 20px;
  width: 300px;
}

.clubs-table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #9e4b9e;
}

.table-club-link {
  display: block;
}

.table-club-link td {
  width: 300px;
}

.table-club-link {
  color: white !important;
  text-decoration: none !important;
}

.table-club-link :hover {
  color: #f993f9 !important;
}

.club-header-row {
  background-color: #993399;
}

.clubs-table tr {
  color: white;
}

table,
th,
td {
  border: 0.5px solid #e298e2;
  padding: 10px;
}

.club-table-col-name {
  width: 250px;
}

.club-table-col-desc {
  width: 800px;
}

.club-table-col-tags {
  width: 300px;
}

.club-table-col-owner {
  width: 200px;
}

.create-club-btn {
  position: absolute;
  top: 80px;
  left: 16px;
}
